@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap"); /* ----- Colors ---- */
:root {
  --primary-color: #fff;
  --primary-color-hover: #eee;
  --secondary-color: #ddd;
  --secondary-color-hover: #ccc;
  --font-color: #bababa;
  --logo-color-primary: #914b9d;
  --logo-color-secondary: #d7fdff;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
}

.u-text-left {
  text-align: left !important;
}

.u-text-right {
  text-align: right !important;
}

.u-text-center {
  text-align: center !important;
}

.u-text-justify {
  text-align: justify !important;
}

body {
  font-family: "Poppins", "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 16px;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes fadeInDownFar {
  0% {
    opacity: 0;
    transform: translateY(-40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes scaleUp {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.ajax-transition {
  animation-name: fadeInDown;
  animation-duration: 0.8s;
  animation-timing-function: ease;
}

.main-header__hamburguer-button-container {
  margin-left: auto;
}

.hamburguer-button {
  display: block;
  cursor: pointer;
  width: 2em;
  height: 2em;
  position: relative;
  border-radius: 0.2em;
  margin-right: 20px;
}
@media (min-width: 768px) {
  .hamburguer-button {
    display: none;
  }
}
.hamburguer-button__top-bread {
  display: block;
  position: absolute;
  width: 80%;
  height: 10%;
  top: 20%;
  left: 10%;
  background-color: #eee;
}
.hamburguer-button__meat {
  position: absolute;
  left: 10%;
  top: 50%;
  display: block;
  width: 80%;
  height: 10%;
  transform: translateY(-50%);
  background-color: #eee;
}
.hamburguer-button__bottom-bread {
  position: absolute;
  left: 10%;
  bottom: 20%;
  display: block;
  width: 80%;
  height: 10%;
  background-color: #eee;
}

.main-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
@media (min-width: 925px) {
  .main-header {
    flex-wrap: nowrap;
  }
}
.main-header__logo-container {
  padding: 1em;
  text-align: center;
  flex-basis: 15em;
  flex-grow: 0;
}
.main-header__logo-img {
  width: 100%;
}
.main-header__search-form-container {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
  flex-shrink: 3;
  flex-grow: 1;
}
@media (max-width: 550px) {
  .main-header__search-form-container {
    order: 2;
    width: 100%;
    margin-bottom: 20px;
  }
}
@media (min-width: 551px) {
  .main-header__search-form-container {
    justify-content: center;
    flex-basis: 15em;
    flex-grow: 3;
    flex-shrink: 1;
  }
}
@media (min-width: 1024px) {
  .main-header__search-form-container {
    justify-content: flex-end;
  }
}
.main-header__search-form_input {
  width: 50%;
  border: 2px solid #914b9d;
  padding: 5px 10px;
  border-radius: 20px;
  background-color: rgb(62, 62, 62);
  color: #fff;
  font-family: "Poppins";
}
.main-header__search-form_input:hover {
  box-shadow: 0 0 4px #914b9d;
}
.main-header__search-form_input:focus {
  outline: none;
  border: 2px solid #d7fdff;
  box-shadow: 0 0 4px #d7fdff;
}
@media (min-width: 768px) {
  .main-header__search-form_input {
    min-width: 200px;
  }
}
.main-header .search-form_icon {
  width: 15px;
  position: absolute;
  margin: 6px 10px 0 0;
  cursor: pointer;
  fill: hsla(0deg, 0%, 0%, 0.6);
  margin-left: 45%;
}
.main-header .search-form_icon::before {
  content: "";
  border-left: 2px solid hsla(0deg, 0%, 0%, 0.6);
  height: 70%;
  position: absolute;
  cursor: none;
  right: 20px;
}
.main-header__main-nav-container {
  flex-basis: 100%;
  display: none;
}
@media (min-width: 768px) {
  .main-header__main-nav-container {
    flex-basis: auto;
    flex-grow: 1;
    display: block;
  }
}
@media (max-width: 767px) {
  .main-header__main-nav-container {
    order: 4;
  }
}
.main-header__cart-button-container {
  width: 60px;
  height: 60px;
  padding: 10px;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  top: 80%;
  left: 85%;
  order: 1;
  background-color: #914b9d;
}
@media screen and (min-width: 538px) {
  .main-header__cart-button-container {
    left: 90%;
  }
}
.main-header__cart-button-container::before {
  content: "🛒";
  display: block;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .main-header__cart-button-container::before {
    display: none;
  }
}
.main-header__cart-button-container svg {
  fill: rgb(186, 186, 186);
  display: none;
  cursor: pointer;
}
.main-header__cart-button-container svg:hover {
  fill: rgb(224, 224, 224);
}
@media (min-width: 768px) {
  .main-header__cart-button-container svg {
    display: flex;
    width: 100%;
  }
}
@media (min-width: 768px) {
  .main-header__cart-button-container { /* MM */
    width: 60px;
    padding: 1em;
    background-color: transparent;
    position: relative;
    border-radius: 0;
    top: 0;
    left: 0;
    outline: none;
  }
}
.main-header__cart-button-container--pressed {
  fill: #914b9d !important;
}

.cart-svg-container {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 50%;
  cursor: pointer;
  z-index: 1001;
}
@media screen and (min-width: 768px) {
  .cart-svg-container {
    position: relative;
    border-radius: 0;
  }
}

.cart-button-container_counter {
  font-size: 12px;
  font-weight: bold;
  color: red;
  position: absolute;
  cursor: pointer;
  bottom: 35px;
  left: 40px;
}
@media screen and (min-width: 768px) {
  .cart-button-container_counter {
    bottom: 20px;
    left: 30px;
  }
}

.main-nav__list {
  margin: 0;
  padding: 10px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  flex-shrink: 2;
}
@media (min-width: 768px) {
  .main-nav__list {
    flex-direction: row;
  }
}
.main-nav__item {
  text-align: center;
}
.main-nav__link {
  display: block;
  padding: 5px 20px;
  color: rgb(186, 186, 186);
  text-decoration: none;
  position: relative;
  z-index: 1001;
}
.main-nav__link::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-right: 100px;
  border-radius: 10px;
}
.main-nav__link:hover::before {
  border-bottom: 3px solid #914b9d;
  transition: margin-right 0.2s;
  margin-right: 0;
}
.main-nav__link:hover {
  color: rgb(224, 224, 224);
}
@media (min-width: 1024px) {
  .main-nav__link {
    padding-left: 1em;
    padding-right: 1em;
  }
}
.main-nav .active-link {
  box-shadow: 0px 0px 5px 2px #914b9d;
  border-radius: 10px;
}

.main-nav-toggle {
  display: none;
}

.main-nav-toggle:checked ~ .main-header .main-header__main-nav-container {
  display: block;
}

.main-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  color: rgb(186, 186, 186);
  padding: 10px 0;
  position: relative;
  z-index: 1001;
}

.main-footer-nav {
  display: flex;
}

.footer-list {
  display: flex;
  gap: 15px;
  list-style: none;
  padding: 0;
  word-break: keep-all;
}
@media (max-width: 430px) {
  .footer-list {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 40px;
    width: 100%;
  }
}

.footer-list_item a {
  text-decoration: none;
  color: rgb(186, 186, 186);
  position: relative;
  padding: 5px 15px;
}
.footer-list_item a::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-right: 100px;
  border-radius: 10px;
}
.footer-list_item a:hover::before {
  border-bottom: 3px solid #914b9d;
  transition: margin-right 0.2s;
  margin-right: 0;
}
.footer-list_item a:hover {
  color: rgb(224, 224, 224);
}

.main-footer-description {
  order: 1;
}

.footer-description_author {
  text-decoration: none;
  color: #d7fdff;
}
.footer-description_author:hover, .footer-description_author:visited:hover {
  color: #914b9d;
}

.main-footer-socials {
  display: flex;
  gap: 40px;
  align-items: center;
}
@media (min-width: 768px) {
  .main-footer-socials {
    width: auto;
  }
}

.footer-socials_item svg {
  width: 25px;
  fill: rgb(186, 186, 186);
}

.footer-socials_item svg:hover {
  fill: rgb(224, 224, 224);
}

.section {
  padding: 30px 0;
}

/* ---- HEADER --- */
.section__title {
  text-align: center;
}

/* ---- FOOTER --- */
.section__footer {
  margin: 30px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
@media (min-width: 950px) {
  .section__footer {
    flex-direction: row;
    gap: 50px;
  }
}

.footer-cards__texts {
  width: 40%;
  text-align: center;
  font-size: 18px;
}
@media (max-width: 768px) {
  .footer-cards__texts {
    width: 100%;
    margin-bottom: 50px;
  }
}

.footer-cards__brands {
  height: 100%;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
@media (max-width: 950px) {
  .footer-cards__brands {
    flex-direction: column;
    gap: 80px;
  }
}

.footer-cards__img {
  min-width: 120px;
  width: 100%;
  object-fit: contain;
  max-width: 140px;
}
@media (max-width: 768px) {
  .footer-cards__img {
    object-fit: cover;
  }
}

.card-modal-container {
  display: none;
}

.card-modal-container--show {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 60%;
  height: 600px;
  background-color: hsla(0deg, 0%, 0%, 0.9);
  color: #bababa;
  position: fixed;
  top: 5%;
  left: 20%;
  border-radius: 15px;
  z-index: 1002;
}

.card-modal-x {
  font-weight: bold;
  position: absolute;
  top: 2%;
  left: 97%;
  color: #fff;
  cursor: pointer;
}
@media screen and (max-width: 700px) {
  .card-modal-x {
    left: 93%;
  }
}

.cart-modal-background {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 999;
}

.modal_products-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  width: 90%;
  text-align: center;
  min-height: 400px;
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #914b9d #d7fdff;
}

.modal_products-header {
  display: flex;
  width: 100%;
  min-height: 50px;
}

.modal_product {
  display: flex;
  width: 100%;
  min-height: 50px;
  align-items: center;
  background-color: rgb(30, 30, 30);
}
.modal_product:nth-child(odd) {
  background-color: rgb(60, 60, 60);
}
.modal_product:hover {
  box-shadow: 0px 0px 2px 1px #fff inset;
}
.modal_product:hover::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 50px;
  background-color: #d7fdff;
  margin-right: -40px;
  margin-bottom: auto;
  animation-name: scaleUp;
  animation-duration: 0.3s;
}

.modal_product-item {
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 2;
}
.modal_product-item-small {
  flex-grow: 1;
  width: 80px;
  gap: 5px;
}

#precio::before {
  content: "$";
}

#subtotal::before {
  content: "$";
}

@media screen and (max-width: 1024px) {
  .modal_products-container {
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 15px;
    width: 100%;
  }
  .modal_product {
    flex-direction: column;
    min-height: 340px;
    width: 31%;
    min-width: 180px;
    border-radius: 5px;
    padding: 10px;
  }
  .modal_product:hover::before {
    display: none;
  }
  .modal_products-header {
    display: none;
  }
  .modal_product-item {
    width: 100%;
  }
  .modal_product-item-small {
    width: 100%;
  }
  #precio::before {
    content: "Precio: $";
  }
  #subtotal::before {
    content: "Subtotal: $";
  }
}
@media screen and (max-width: 750px) {
  .modal_product {
    width: 100%;
  }
  .modal_products-header {
    display: none;
  }
}
.modal_price {
  text-align: center;
}

.modal_image-container {
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal_image {
  width: 50px;
}
@media screen and (max-width: 1024px) {
  .modal_image {
    width: auto;
    height: 100px;
  }
}

.modal_button {
  padding: 10px 15px;
  font-weight: bold;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.modal_button--delete {
  background-color: #914b9d;
}
.modal_button--delete:hover {
  background-color: hsl(291deg, 35%, 40%);
}
.modal_button--delete:active {
  background-color: hsl(291deg, 35%, 35%);
}

.modal_button--add {
  background-color: hsl(120deg, 73%, 60%);
}
.modal_button--add:hover {
  background-color: hsl(120deg, 73%, 50%);
}
.modal_button--add:active {
  background-color: hsl(120deg, 73%, 40%);
}

.modal_button-empty-cart {
  padding: 10px;
  font-weight: bold;
  background-color: #d7fdff;
  color: #000;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.modal_button-empty-cart:hover {
  background-color: hsl(183deg, 100%, 86%);
}
.modal_button-empty-cart:active {
  background-color: hsl(183deg, 100%, 80%);
}

.btn_added-product--show {
  background-color: hsl(120deg, 73%, 60%);
  color: #fff;
  text-shadow: 0px 0px 5px #000;
  box-shadow: 0px 0px 1px #000;
  padding: 20px;
  border-radius: 20px;
  height: 40px;
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 99999;
  margin-top: 5%;
  margin-left: 43%;
  animation-name: fadeInDown;
  animation-duration: 0.4s;
  animation-timing-function: ease;
}

.cards-container {
  padding: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}
@media screen and (max-width: 768px) {
  .cards-container {
    gap: 40px;
  }
}

.card {
  display: flex;
  width: 250px;
  max-width: 300px;
  flex-grow: 1;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2), 0 0 3px rgba(0, 0, 0, 0.4);
  border-radius: 30px;
  overflow: hidden;
  color: #fff;
  background-image: linear-gradient(120deg, #343A4F, #0F1620);
  min-height: 480px;
}
.card:hover {
  box-shadow: 0 0 8px #d7fdff;
}
.card__article {
  width: 100%;
}
.card__image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 250px;
  overflow: hidden;
  position: relative;
  background-color: #fff;
  transition: height 0.5s ease;
}
.card__image-container-large {
  height: 100%;
  transition: all 0.5s ease;
}
.card__image {
  object-fit: contain;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.card__image-btn {
  width: 15px;
  height: 15px;
  position: absolute;
  z-index: 1000;
  top: 20px;
  left: 20px;
  cursor: pointer;
  background-image: url(../img/resize-up.svg);
  background-repeat: no-repeat;
}
.card__image-btn-opened {
  background-image: url(../img/resize-down.svg);
}
.card__content {
  padding: 20px;
  text-align: center;
}
.card__heading {
  margin: 0;
}
.card__description {
  font-size: 14px;
  margin: 30px 10px;
}
.card__footer {
  display: flex;
  justify-content: space-around;
}
.card__price {
  font-weight: bold;
  font-size: 18px;
  margin: auto 0;
  vertical-align: middle;
}
.card__price-dollar {
  margin: auto 0;
  color: lightblue;
  font-size: 15px;
}
.card__btn-buy {
  padding: 5px 15px;
  color: #fff;
  text-decoration: none;
  background-image: linear-gradient(120deg, hsl(291deg, 35%, 55%), hsl(291deg, 35%, 40%));
  border-radius: 20px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2), 0 0 3px rgba(0, 0, 0, 0.4);
  font-weight: bold;
  text-shadow: 0 0 3px #000;
  cursor: pointer;
  position: relative;
  z-index: 1000;
}

/* ELEMENTOS DESTACADOS DE LA CARD */
/* ELEMENTOS DESTACADOS DE LA CARD */
.product-label-new {
  display: inline-block;
  background-color: #d7fdff;
  position: absolute;
  color: #000;
  padding: 2px 10px;
  margin-left: 10px;
  bottom: 10px;
  left: 0;
  border-radius: 12px;
  font-size: 12px;
  font-weight: bold;
}

.product-label-highlight {
  display: inline-block;
  background-color: hsl(48deg, 100%, 50%);
  position: absolute;
  bottom: 10px;
  left: 0;
  color: #000;
  padding: 2px 10px;
  margin-left: 10px;
  border-radius: 12px;
  font-size: 12px;
  font-weight: bold;
}

.product-label-opened {
  width: 100%;
  margin: 0 0 10px 0;
  padding: 10px;
  font-size: 20px;
  text-align: center;
  border-radius: 0px;
  transition: all 0.3s ease;
}

.cart__mini-card {
  width: 200px;
  display: flex;
  flex-direction: column;
}

.form-contact-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  width: 70%;
  min-height: 300px;
  border-radius: 10px;
  box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.3);
  overflow: hidden;
  padding: 50px;
  background-color: hsl(0deg, 0%, 35%);
  min-width: 370px;
  max-width: 900px;
  flex-direction: column;
}
@media (min-width: 1024px) {
  .form-contact-container {
    flex-direction: row;
  }
}

.form-contact-item {
  width: 100%;
}
@media (min-width: 1024px) {
  .form-contact-item {
    width: 40%;
  }
}
.form-contact-item_input {
  width: 100%;
  background-color: hsl(0deg, 0%, 35%);
  box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.3);
  border: 3px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  padding: 5px 0 5px 10px;
  outline: none;
  resize: none;
  font-family: "Poppins";
  color: #d7fdff;
}
.form-contact-item_input:focus {
  border-bottom: 3px solid #d7fdff;
  box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.5);
}
.form-contact-item_input-error {
  border-bottom: 3px solid hsl(0deg, 100%, 75%) !important;
}
.form-contact-item_input-confirm {
  border-bottom: 3px solid hsl(120deg, 100%, 75%) !important;
}

.form-contact-buttons {
  margin-left: auto;
}

.form-contact-btn {
  padding: 10px 20px;
  border-radius: 5px;
  margin: 0 5px;
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  border: none;
  color: #fff;
  cursor: pointer;
  font-family: "Poppins";
}
.form-contact-btn:hover {
  background-color: rgba(0, 0, 0, 0.4);
}
.form-contact-btn:active {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5) inset;
}

#contact_btn-submit {
  background-color: hsl(183deg, 100%, 87%);
  color: #000;
  font-weight: bold;
}
#contact_btn-submit:hover {
  background-color: hsl(183deg, 100%, 82%);
}
#contact_btn-submit:active {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5) inset;
}

#textarea-item {
  width: 100%;
}
@media (min-width: 1024px) {
  #textarea-item {
    width: 80%;
  }
}

.error-detail {
  color: hsl(0deg, 100%, 75%) !important;
  font-size: 13px;
  position: absolute;
  margin-top: 10px;
}

.error-focus {
  border: 3px solid hsl(0deg, 100%, 75%);
}

.form-product-container {
  margin: 0 auto;
  padding: 50px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 30px;
  overflow: hidden;
  background-color: hsl(0deg, 0%, 35%);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  min-width: 370px;
  max-width: 700px;
}
@media screen and (min-width: 900px) {
  .form-product-container {
    flex-direction: row;
    justify-content: flex-start;
  }
}

.form-product-item {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}
@media (min-width: 900px) {
  .form-product-item {
    width: 47%;
  }
}
.form-product-item-select {
  justify-content: flex-start;
}
@media (min-width: 900px) {
  .form-product-item-select {
    justify-content: center;
  }
}

.product-label {
  position: absolute;
  left: 10px;
  color: #fff;
  margin-bottom: 5px;
  font-size: 15px;
}
.product-label-textarea {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #fff;
  margin-top: 2px;
}

.product-input {
  outline: none;
  border: none;
  margin-top: 5px;
  padding: 10px;
  background-color: hsl(0deg, 0%, 25%);
  border-bottom: 3px solid #914b9d;
  font-family: "Poppins";
  font-size: 13px;
  resize: none;
  color: #fff;
  border-radius: 10px;
  width: 100%;
}
.product-input:hover {
  border-bottom: 3px solid hsl(291deg, 35%, 55%);
}
.product-input:focus {
  transition: all 0.3s;
  border-bottom: 3px solid var(--logo-color-secondary);
}
.product-input-clicked {
  transition: all 0.3s;
  transform: translateY(-50%);
  font-size: 12px;
  color: hsl(0deg, 0%, 60%);
}
.product-input-select {
  background-color: hsl(0deg, 0%, 25%);
  font-family: "Poppins";
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 2px;
}

.form-product-buttons {
  margin-left: auto;
}
.form-product-buttons-btn {
  padding: 10px 15px;
  margin: 0 5px;
  font-family: "Poppins";
  background-color: hsl(0deg, 0%, 25%);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  border: none;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
}
.form-product-buttons-btn:hover {
  background-color: hsl(0deg, 0%, 20%);
}
.form-product-buttons-btn:active {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5) inset;
}
.form-product-buttons #product_btn-submit {
  background-color: var(--logo-color-primary);
  font-weight: bold;
}
.form-product-buttons #product_btn-submit:hover {
  background-color: hsl(291deg, 35%, 40%);
}
.form-product-buttons #product_btn-submit:active {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5) inset;
}

.form-product_error-detail {
  display: flex;
  align-items: center;
  position: absolute;
  padding: 10px;
  height: 20px;
  color: rgb(255, 206, 206);
  bottom: -20px;
  font-size: 12px;
}

.form-product_error-focus {
  outline: 3px solid hsl(0deg, 100%, 75%);
  border-bottom: 3px solid hsl(0deg, 0%, 25%);
}

.form_required {
  font-size: 14px;
  color: red;
  vertical-align: top;
}

.game {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: hsl(0deg, 0%, 35%);
  box-shadow: rgba(50, 50, 93, 0.4) 0px 13px 27px -5px, rgba(0, 0, 0, 0.5) 0px 8px 16px -8px;
  border-radius: 20px;
  padding: 20px;
  width: 90%;
}
@media screen and (max-width: 650px) {
  .game {
    width: 100%;
  }
}
@media screen and (min-width: 1024px) {
  .game {
    width: 45%;
  }
}

.game:first-child {
  width: 90%;
}
@media screen and (max-width: 650px) {
  .game:first-child {
    width: 100%;
  }
}
@media screen and (min-width: 1024px) {
  .game:first-child {
    width: 60%;
  }
}

.game:first-child > .game__texts > .game__title {
  text-align: center;
}

.game__image-container {
  height: 200px;
  width: 100%;
  overflow: hidden;
}

.game__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.game__button {
  margin-left: 70%;
  text-decoration: none;
  background-color: #914b9d;
  color: #fff;
  border-radius: 15px;
  padding: 5px 20px;
  box-shadow: 1px 1px 4px #000;
}
.game__button:hover {
  text-decoration: underline;
}
.game__button:active {
  background-color: hsl(291deg, 35%, 40%);
}

.game__texts {
  width: 100%;
  text-align: justify;
  line-height: 2;
}

.game__title {
  color: #d7fdff;
}

.footer__banner {
  width: 100%;
  height: 300px;
  background-image: url(/img/backgrounds/nosotros_banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0% 30%;
}

.main-background {
  height: 300px;
  background-color: #914b9d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  overflow: hidden;
}

.main-background__text {
  color: #fff;
  text-shadow: 1px 1px 4px #000;
}

.main-background-inicio {
  background-image: url(/img/backgrounds/index-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 70%;
}

.main-background-alta {
  background-image: url(/img/backgrounds/alta-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.main-background-contacto {
  background-image: url(/img/backgrounds/contacto_background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0% 50%;
}

.main-background-nosotros {
  background-image: url(/img/backgrounds/nosotros_background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 70%;
}

.section__games-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 30px;
  gap: 50px;
}

body {
  background-color: hsl(0deg, 0%, 20%);
  color: #bababa;
  padding: 0;
  position: relative;
  overflow-x: hidden;
  max-width: 2048px;
  margin: 0 auto;
}
@media screen and (min-width: 1024px) {
  body .website-padding {
    padding: 0 50px;
  }
}

/* abstracts */
/* vendors */
/* base */
/* layout */
/* components */
/* pages */
/* themes */

/*# sourceMappingURL=main.css.map */
