<div class="ajax-transition">
    <!-- Imagen de fondo / hero -->
    <header class="main-background main-background-alta">
        <div class="main-background__text">
            <h1>¿Querés vender algo?</h1>
        </div>
    </header>
    <!-- Section del formulario -->
    <section class="section ajax-transition">
        <header class="section__header">
            <div class="section__title">
                <h2>Sube tu producto</h2>
                <p>Completa los campos y en breve estará en nuestra tienda</p>
            </div>
        </header>
        <!-- Contenedor -->
        <div class="cards-container">
            <form action="api/products/new" method="post" id="form_product" class="form-product-container">
                <div class="form-product-item">
                    <label class="product-label" for="product-name"><span class="form_required">* </span>Nombre</label>
                    <input class="product-input" type="text" name="name" id="product-name" required>
                </div>
                <div class="form-product-item">
                    <label class="product-label" for="product-price"><span class="form_required">* </span>Precio</label>
                    <input class="product-input" id="product-price" type="number" name="price" min="0" required>
                </div>
                <div class="form-product-item">
                    <label class="product-label" for="product-stock"><span class="form_required">* </span>Stock</label>
                    <input class="product-input" id="product-stock" type="number" name="stock" min="0" required>
                </div>
                <div class="form-product-item">
                    <label class="product-label" for="product-brand">Marca</label>
                    <input class="product-input" id="product-brand" type="text" name="brand" required>
                </div>
                <div class="form-product-item">
                    <label class="product-label" for="product-category">Categoria</label>
                    <input class="product-input" id="product-category" type="text" name="category" required>
                </div>
                <div class="form-product-item">
                    <label class="product-label-textarea" for="short-description"><span class="form_required">* </span>Descripción corta</label>
                    <textarea class="product-input" name="shortdescription" id="short-description" minlength="10" maxlength="100" required></textarea>
                </div>
                <div class="form-product-item">
                    <label class="product-label-textarea" for="long-description"><span class="form_required">* </span>Descripción larga</label>
                    <textarea class="product-input" name="longdescription" id="long-description" rows="6" minlength="10" maxlength="400" required></textarea>
                </div>
                <div class="form-product-item form-product-item-select">
                    <label for="shipping">Envio sin cargo</label>
                    <input type="checkbox" class="product-input-select" name="freeshipping" id="shipping">
                </div>
                <div class="form-product-item form-product-item-select">
                    <label for="age-type"><span class="form_required">* </span>Edad en</label>
                    <select class="product-input-select" name="agetype" id="age-type">
                        <option value="months">Meses</option>
                        <option value="years">Años</option>
                    </select>
                </div>
                <div class="form-product-item">
                    <label class="product-label" for="min-age"><span class="form_required">* </span>Edad desde</label>
                    <input class="product-input" type="number" name="minage" id="min-age" min="0" required>
                </div>
                <div class="form-product-item">
                    <label class="product-label" for="max-age"><span class="form_required">* </span>Edad hasta</label>
                    <input class="product-input" type="number" name="maxage" id="max-age" min="1" required>
                </div>
                <!-- <div class="form-product-item">
                    <input class="product-input" type="number" name="idProduct" id="idProduct" hidden>
                </div> -->
                <div class="form-product-item">
                    <label for="image"><span class="form_required">*</span>Foto</label>
                    <input type="file" name="image" id="image" accept="image/png, image/jpeg" required>
                </div>
                <div class="form-product-buttons">
                    <button class="form-product-buttons-btn" type="reset">Restablecer</button>
                    <button class="form-product-buttons-btn" id="product_btn-submit" type="submit">Enviar</button>
                </div>
            </form>
        </div>
        <!-- Inicio del footer del section -->    
        <footer class="section__footer">
            <div class="footer-cards__texts">
                <p><b>Ellos</b></p>
                <p>Ya confiaron en nosotros</p>
            </div>
            <div class="footer-cards__brands">
                <img class="footer-cards__img" src="img/logo-lego.png" alt="Lego" title="Lego">
                <img class="footer-cards__img" src="img/logo_hasbro.png" alt="Hasbro" title="Hasbro">
                <img class="footer-cards__img" src="img/logo-fisher-price.png" alt="Fisher Price" title="Fisher Price">
            </div>
        </footer>
    </section>
</div>