.form-contact-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    width: 70%;
    min-height: 300px;
    border-radius: 10px;
    box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.3);
    overflow: hidden;
    padding: 50px;
    background-color: hsl(0, 0%, 35%);
    min-width: 370px;
    max-width: 900px;
    flex-direction: column;

    @media (min-width: 1024px) {
        flex-direction: row;    
    }
}

.form-contact-item {
    width: 100%;    
    
    @media (min-width: 1024px) {
        width: 40%;
    }
    
    &_input {
        width: 100%;
        background-color: hsl(0, 0%, 35%);
        box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.3);
        border: 3px solid rgba(0, 0, 0, 0.3);
        border-radius: 5px;
        padding: 5px 0 5px 10px;
        outline: none;
        resize: none;
        font-family: 'Poppins';
        color: #d7fdff;
        
        &:focus {
            border-bottom: 3px solid #d7fdff;
            box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.5);
        }
        &-error {
            border-bottom: 3px solid hsl(0, 100%, 75%) !important;
        }
        &-confirm {
            border-bottom: 3px solid hsl(120, 100%, 75%) !important;
        }
    }
}

.form-contact-buttons {
    margin-left: auto;
}

.form-contact-btn {
    padding: 10px 20px;
    border-radius: 5px;
    margin: 0 5px;
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, .5);
    border: none;
    color: #fff;
    cursor: pointer;
    font-family: 'Poppins';
    
    &:hover {
        background-color: rgba(0, 0, 0, 0.4);
    }
    &:active {
        box-shadow: 2px 2px 4px rgba(0, 0, 0, .5) inset;
    }
}

#contact_btn-submit {
    background-color: hsl(183, 100%, 87%);
    color: #000;
    font-weight: bold;
    
    &:hover{
        background-color: hsl(183, 100%, 82%);
    }
    &:active{
        box-shadow: 2px 2px 4px rgba(0, 0, 0, .5) inset;
    }
}

#textarea-item {
    width: 100%;
    
    @media (min-width: 1024px) {
        width: 80%;
    }
}

.error-detail {
    color: hsl(0, 100%, 75%) !important;
    font-size: 13px;
    position: absolute;
    margin-top: 10px;
}

.error-focus {
    border: 3px solid hsl(0, 100%, 75%);
}