
.main-background {
    height: 300px;
    background-color: #914b9d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    overflow: hidden;
}

.main-background__text {
    color: #fff;
    text-shadow: 1px 1px 4px #000;
}

.main-background-inicio {
    background-image: url(/img/backgrounds/index-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 70%;
}