/* ----- Colors ---- */
:root {
    --primary-color: #fff;
    --primary-color-hover: #eee;
    --secondary-color: #ddd;
    --secondary-color-hover: #ccc;
    --font-color: #bababa;
    --logo-color-primary: #914b9d;
    --logo-color-secondary: #d7fdff;
}