// IMAGEN DEL BANNER PRINCIPAL PAGINA 'CONTACTO'
.main-background-contacto {
    background-image: url(/img/backgrounds/contacto_background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0% 50%;
}