<div class="ajax-transition">
    <!-- Imagen de fondo / hero -->
    <header class="main-background main-background-nosotros">
        <div class="main-background__text">
            <h1>Descubre el cosmos</h1>
        </div>
    </header>
    <!-- Section -->
    <section class="section">
        <header class="section__header">
            <div class="section__title">
                <h2>Hacia el infinito y más allá</h2>
                <p>Si del cosmos se trata, descubre los mejores videojuegos para divertirte mientras exploras los misterios del universo</p>
            </div>
            <div class="section__games-container">
                
                <div class="game">
                    <picture class="game__image-container">
                        <img src="/img/games/mass.jpg" alt="Mass Efect" title="Mass Effect" class="game__image">
                    </picture>
                    <div class="game__texts">
                        <h3 class="game__title">Mass Effect</h3>
                        <p class="game__description">Es un videojuego de rol de acción y disparos en 3ª persona de ciencia ficción, desarrollado por <strong style="color: #d7fdff;">BioWare</strong>, el famoso desarrollador de juegos de rol como Jade Empire, Star Wars: Caballeros de la Antigua República, Neverwinter Nights y la saga Baldur's Gate. El juego está ambientado en el año 2183, y traslada al jugador a ocupar el lugar del o de la Comandante Shepard, a elección del jugador, quien es un soldado de élite de la flota de la Alianza de Sistemas (una organización que aglutina a todas las antiguas naciones de la Tierra) en una trama que, poco a poco, le involucrará en un complot de dimensiones galácticas. El orden de las misiones principales puede ser alterado por el jugador y así cambiar el orden en el que se desencadenan los acontecimientos de la historia. </p>
                    </div>
                    <a href="https://www.ea.com/es-es/games/mass-effect/mass-effect-legendary-edition" class="game__button">Ver más</a>
                </div>

                <div class="game">
                    <picture class="game__image-container">
                        <img src="/img/games/space.jpeg" alt="Dead Space" title="Dead Space" class="game__image">
                    </picture>
                    <div class="game__texts">
                        <h3 class="game__title">Dead Space</h3>
                        <p class="game__description">Dead Space es un videojuego de horror de disparos en tercera persona distribuido por EA Redwood Shores (ahora conocido como Visceral Games) para Playstation 3, Xbox 360 y Microsoft Windows. Fue lanzado el 14 de octubre del 2008 para las consolas y el 20 de octubre para Windows constituyendo el primer juego de una serie que abarcaría varios videojuegos, cómics y películas animadas y además es el primero de la serie principal. El jugador toma el papel de un ingeniero llamado Isaac Clarke, quien pelea contra una especie alienígena polimórfica de no-muertos llamados Necromorfos a bordo de una nave minera interestelar infestada donde además de lidiar con los horrendos seres, Isaac debe luchar por mantener su cordura.</p>
                    </div>
                    <a href="https://www.ea.com/es-es/games/dead-space/dead-space" class="game__button">Ver más</a>
                </div>

                <div class="game">
                    <picture class="game__image-container">
                        <img src="/img/games/stellar.jpg" alt="Stellar Tactics" title="Stellar Tactics" class="game__image">
                    </picture>
                    <div class="game__texts">
                        <h3 class="game__title">Stellar Tactics</h3>
                        <p class="game__description">Trayendo de vuelta la nostalgia, la emoción y la maravilla de los juegos de rol clásicos, Stellar Tactics te emocionará con una narrativa convincente, un profundo combate estratégico basado en escuadrones y una gratificante exploración espacial de mundo abierto. Para sobrevivir, necesitarás desarrollar las habilidades de tu equipo y equipar a tu grupo y barcos con las mejores armas, armaduras y equipos que puedas encontrar. Con 10,000 sectores, decenas de miles de sistemas solares y millones de planetas por descubrir, puedes pasar innumerables horas explorando, luchando, comerciando y construyendo un grupo de veteranos experimentados que pueden dominar los desafíos del espacio profundo.</p>
                    </div>
                    <a href="https://www.fanatical.com/es/game/stellar-tactics" class="game__button">Ver más</a>
                </div>

            </div>
        </header>
        <footer class="section__footer">
            <div class="footer__banner"></div>
        </footer>       
    </section>
</div>